/Cliente.class
/Comunicado.class
/ComunicadoDeDesligamento.class
/Escolha.class
/Nome.class
/Numero.class
/Parceiro.class
/PedidoDeEscolha.class
/PedidoDeJogo.class
/PedidoDeNome.class
/PedidoDeNumero.class
/PedidoDeResultado.class
/PedidoParaSair.class
/Resultado.class
/Teclado.class
/ComunicadoIniciar.class
/ComunicadoDeIniciar.class
